.env
.venv/
.claude/
.gemini/
.codex/
.clinerules/
.vscode/
!/docs/agent-rules/
!/docs/ai_docs/*
!/docs/dspy_docs/

.venv/
__pycache__/
*.pyc
.dist/
.build/
.coverage
htmlcov/
.cache/
.DS_Store
.mypy_cache/
.pytest_cache/
